.rightNews {
    background: #A9BF7A;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, 55%);
    grid-column-gap: 3%;
    grid-row-gap: 2%;
    position: absolute;
    right: -5%;
    top: 1%;
    width: 20%;
    height: 110%;
    padding-top: 5%;
}
.central {
    position: absolute;
    text-align: left;
    padding: 0 2% 2%;
    background: #A9BF7A;
    left: -3%;
    top: 15%;
    width: 78%;
    height: 110%;
    font-weight: bold;
}
