body {
    display: grid;
    font-family: "PT Sans";
    font-size: 1.1vw;
    line-height: 1.7vw;
    background-color: #A9BF7A;
}
A{
    color: #5A7362;
}
A:hover {
    color: cadetblue;
}

header {
    position: absolute;
    width: 1440px;
    padding: 10px;
    text-align: center;
    left: 0;
    top: 0;
    background-color: #D0D9B0;
    height: 148px;
}
.leftDivHeader {
    position: absolute;
    width: 720px;
    margin-right: 72px;
    text-align: justify;
    left: 144px;
    top: 0;
}

.rightDivHeader {
    position: absolute;
    text-align: right;
    width: 475px;
    left: 720px;
    top: 0;
}
.menu {
    position: absolute;
    width: 1440px;
    padding: 8px;
    text-align: center;
    left: 0;
    top: 123px;
    background-color: #8AA686;
    height: 33px;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: #5A7362;
}
main {
    position: absolute;
    width: 1152px;
    padding: 8px;
    text-align: center;
    left: 144px;
    top: 435px;
    height: 738px;
}
.slider {
    position: absolute;
    width: 1440px;
    height: 246px;
    left: 0;
    top: 172px;
}
.content {
    width: 100%;
    height: 160%;
    position: absolute;
    left: 0;
    top: 8%;
}
.contentLeft {
    position: absolute;
    text-align: left;
    display: grid;
    grid-template-rows: repeat(5, 2.5%);
    grid-row-gap: 0.5%;
    left: 0;
    top: 0;
    width: 15%;
    height: 90%;
}
.catalog {
    position: relative;
    text-align: center;
    padding-top: 2%;
    background: #D0D9B0;
    width: 100%;
    height: 100%;
    border: 2px #A9BF7A solid;
}
.catalog a {
    text-decoration: none;
    color: black;
}
.catalog a:hover {
    color: #5A7362;
}
.contentRight {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: repeat(2, 35%);
    grid-column-gap: 3%;
    grid-row-gap: 2%;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 90%;
}
.product {
    position: relative;
    background: #F2F3F2;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.product img {
    width: 80%;
    height: 60%;
    top: 3%;
    left: 10%;
    position: absolute;
}
.product a {
    position: absolute;
    top: 65%;
    left: 10%;
    width: 80%;
    font-size: 2vm;
    text-align: center;
}
.price {
    position: absolute;
    top: 88%;
    left: 30%;
    background: #A9BF7A;
    width: 40%;
    height: 6%;
    font-size: 2vm;
    text-align: center;
    border: #A9BF7A solid;
    border-radius: 50%;
}

.pages {
    position: absolute;
    right: 0;
    bottom: 30%;
    width: 80%;
    text-align: center;
    height: 3%;
}
.info {
    border-top: 2px #D0D9B0 solid;
    padding-top: 1%;
    position: absolute;
    color: #D0D9B0;
    right: 0;
    bottom: 10%;
    width: 80%;
    height: 17%;
}
.path {
    color: #D0D9B0;
    z-index: 3;
    left: 0;
    top: 1%;
    position: absolute;
}
footer {
    position: absolute;
    left: 0;
    top: 1800px;
    width: 1440px;
    padding: 10px;
    text-align: left;
    background-color: #5A7362;
    height: 205px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: cadetblue;
}
.leftDivFooter {
    position: absolute;
    margin: 3%;
    width: 20%;
    left: 10%;
    top: 0;
}
.middleDivFooter {
    position: absolute;
    width: 20%;
    margin: 3%;
    left: 30%;
    top: 0;
}
.rightDivFooter {
    margin: 3%;
    position: absolute;
    width: 33%;
    right: 0;
    top: 0;
}
.feedback {
    position: fixed;
    text-align: center;
    background: #F2F3F2;
    width: 20%;
    height: 40%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    padding: 5%;
}

.BUY {
    position: fixed;
    text-align: center;
    background: #F2F3F2;
    width: 20%;
    height: 20%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 3;
    padding: 5%;
}